*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: Montserrat;
}
.todo{
    display:flex;
}
main{
    width: 100%;
    padding: 3%;
}


.link_text{
    color: white;
    padding: 10px 5px;
    font-size: 20px;
}
.footer{
    text-align: center;
}

.sidebar{
    display: flex;
    background: #2A4365;
    height: 100vh;
    padding: 20px; 
    border: 4px solid black;
    flex-direction: column;
    justify-content: space-between;
}

.links{
    border: 4px solid black;
}

.cerrar{
    border: 4px solid black;
    color: red;
}

.clientes{
    height: 650px;
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    grid-template-rows: 20% 10% 60% auto;
    background-color: lightgreen;
    border: 1px solid black;
    padding: 10px;
}
.cliente{
    background-color: aquamarine;
    border: 4px solid black;
    text-align: center;  
}

.c1{

}